<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h1>Edit your chat: <%= chat._id %></h1>
    <br>
    <p>This chat was sent from:<i> <b> <%= chat.from %></b> to : <b> <%= chat.to %></b></i></p>
    <form method="post" action="/chats/<%= chat._id %>?_method=put">
        <textarea name="msg" rows="5" cols="50"><%= chat.msg  %> 
        </textarea> 
        <button>Save</button>
    </form>
</body>
</html>